# Modelo de variáveis de ambiente - Copie para .env e preencha com seus dados
BOTICARIO_CONSUMER_NAME=NOME EXEMPLO
BOTICARIO_CONSUMER_CPF=00000000000
BOTICARIO_CONSUMER_BIRTHDAY=1990-01-01
BOTICARIO_CONSUMER_GENDER=F
BOTICARIO_CONSUMER_MOTHER_NAME=NOME DA MAE
